.about {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  background-color: #121212;
  margin: 0 100px;
  margin-bottom: 130px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  height: 100%;
  width: 50%;
  left: -60px;
  top: -60px;
  background-color: var(--secondary-color);
}
.right {
  height: 100%;
  width: 50%;
  margin-right: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.bottom {
  position: absolute;
  height: 100%;
  width: 100%;
  right: -60px;
  bottom: -60px;
  z-index: -5;
  border: 12px dotted var(--accent-color);
}

.header {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 600;
}

.text {
  color: var(--secondary-color);
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: var(--grey-color);
}
.accent {
  color: var(--accent-color);
}
.buttonWrapper {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
  }
  .left {
    position: relative;
    height: 300px;
    width: 100%;

    background-color: var(--secondary-color);
  }
  .right {
    height: 100%;
    width: 100%;
    margin-right: 0px;
  }
  .bottom {
    right: -30px;
    bottom: -30px;
  }
  .left {
    left: -30px;
    top: -30px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    margin: 0px;
  }
  .bottom {
    right: 0px;
    bottom: -30px;
    border: none;
    border-bottom: 12px dotted var(--accent-color);
  }
  .left {
    left: 0px;
    top: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .right {
    padding: 40px 20px;
  }
  .header {
    font-size: 36px;
  }
}
