.about {
  height: 80vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  background-color: #121212;
  margin: 0 100px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.left {
  position: absolute;
  height: 100%;
  width: 50%;
  left: -80px;
  top: -80px;
  background-color: #eae9e5;
}
.right {
  height: 100%;
  width: 50%;
  background-color: #eae9e5;

  display: flex;
  justify-content: center;
  align-items: center;
}
