.home {
  height: 80vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.textBox {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.text {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.accent {
  color: var(--accent-color)
}
