.nav {
  height: auto;
  width: 100%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 0;
  padding: 20px 0;
  font-size: 40px;
  color: black;
  font-weight: 400;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 25px;
  padding: 0;
  height: fit-content;
}
