.work {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.container {
  height: 100%;
  width: 100%;
  margin: 0 100px;

  display: flex;
  flex-direction: column;
}
.header {
  font-size: 50px;
  margin: 0;
  padding-bottom: 50px;
}
.accent {
  color: var(--accent-color);
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: auto;
}

.gridItem {
  min-width: 400px;
  height: 400px;
  background-color: var(--secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.image:hover {
  transform: scale(1.05);
  background-color: black;
}
.imageTextWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.imageTextWrapper:hover {
  background-color: rgba(0, 0, 0, 0.7);
  visibility: visible;
}
.itemHeader {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 32px;
}
.itemText {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 20px;
  transition: all 0.2s;
}
