.work {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 100px;

  display: flex;
  flex-direction: column;
}
.header {
  font-size: 50px;
  margin: 0;
  padding-bottom: 50px;
}
.accent {
  color: var(--accent-color);
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: auto;
}

.gridItem {
  height: 400px;
  background-color: var(--secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: 0.5s;
}

.imageTextWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 70px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.gridItem:hover .imageTextWrapper {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.gridItem:hover .image {
  transform: scale(1.05);
}

.itemHeader {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 5px;
  margin: 0;
}

.itemText {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .container {
    margin: 0px;
  }

  .headerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .imageTextWrapper {
    padding: 70px 30px;
  }
  .gridItem {
    height: 300px;
  }
  .header {
    font-size: 36px;
  }
}
